<code>-----&gt;&gt;&gt; N O T E &lt;&lt;&lt;-----</code>

<code>I went and updated this with a whole other story because, pandemic. You can flip that one private and repost this public once it's over...</code>

&nbsp;

The weather will soon begin to get warmer, the days longer, and it'll be time again for "<em>hanami</em>." If you're new to Japan and Japanese culture, hanami literally means "flower viewing," but not just any flower will do. We're talking about Japan's symbol of all things cute, beautiful, and like the flora itself, fleeting; cherry blossoms. Basically, Hanami is a picnic, though with the flowers, and often lights and music, it is more like a picnic at a festival.  If you can get yourself a spot, some gear, and some friends with which to enjoy it all, you are golden.  Here is a list of things to bring and some basic rules, followed by the top five hanami spots in Tokyo!
<h3><strong>Must have Hanami Gear</strong></h3>
<ul>
 	<li>Picnic sheet (plastic tarp, bamboo straw, etc.) to sit and eat on</li>
 	<li>Thin cushion for sitting, or a small folding chair</li>
 	<li>Garbage bags</li>
 	<li>Warm clothes (nights get chilly!)</li>
 	<li>Paper cups, plates, and disposable chopsticks</li>
 	<li>Wet wipes/tissues</li>
 	<li>Bottle opener / Wine opener</li>
 	<li>Food (you can buy special bentos, or get whatever)</li>
 	<li>Drinks (drink what you like, but pack it out)</li>
</ul>
<h3><strong>Hanami </strong><strong>Etiquette</strong></h3>
<strong>Picnic spots are first-come-first-serve</strong>
<p style="padding-left: 30px;">Finding a spot can be challenging, especially in the most popular areas, or seemingly anywhere at “peak blossom.”  Arriving early, literally with the birds at 5 am, will help ensure you get something.  The ONLY surefire way to get a spot is to arrive early, spread your picnic sheet(s) and sit on them until your guests arrive. Leaving a sheet and a note is tempting but risky.</p>
<strong>Make sure picnics are OK</strong>
<p style="padding-left: 30px;">Be sure you are allowed to picnic there before you set up; the presence of cherry trees and blossoms does not mean you are allowed to use the area!  Check first.</p>
<strong>If you are invited, you MUST bring something everyone else can enjoy</strong>
<p style="padding-left: 30px;">This goes for pretty much anytime you're a guest in attendance at a Japanese party, but especially for hanami and other group activities. If possible, inquire about what's needed (beer, wine, snacks are OK, but I've been called a hero for simply bringing paper towels, chopsticks, napkins, and paper cups!)</p>
<strong>Mind your garbage</strong>
<p style="padding-left: 30px;">In big popular areas, you may find garbage areas set up for you (make sure to check the signage as there are recycling rules in place!) However, many hanami areas don't have trash cans, and despite what you may see drunken college students do, DO NOT leave your garbage behind. Just like elsewhere in Japan, expect to take your garbage home with you!</p>
<strong>Don’t mess with the trees!</strong>
<p style="padding-left: 30px;">I know the flowers are nice, but DON’T break off a branch to take home; it is not appreciated and could mean a property damage violation and some time dealing with the Tokyo Metropolitan Police for your souvenir.</p>
<strong>Take your shoes off</strong>
<p style="padding-left: 30px;">A picnic sheet on the ground here is considered an inside area, and shoes are not worn on top of them. Try to wear shoes that are easy to slip into and out of!</p>
<strong>Don’t be “that guy” or girl!</strong>
<p style="padding-left: 30px;">You know what I mean here! Just be cool... you can be cool, right? Don't get "fall down" drunk, belligerent, loud, and/or combative. Behave as if you're relaxing with friends, and we will too!</p>

<h1>Top Six Hanami Sites in Tokyo</h1>
[spacer height="10px"]
<h3><strong>Shinjuku Gyoen</strong></h3>
<img class="alignleft wp-image-23037 size-thumbnail" style="margin: 6px 20px;" src="http://japaninfoswap.com/wp-content/uploads/2013/03/Shinjuku-Gyoen-Sakura-Tokyo-150x150.jpg" alt="Shinjuku-Gyoen-Sakura-Tokyo" width="150" height="150" />Located just to the east of the bustling Shinjuku district and station of the same name, these imperial gardens, which were once meant for <a title="Imperial House of Japan" href="http://en.wikipedia.org/wiki/Imperial_House_of_Japan">the royalty</a>, were completed in 1906 and destroyed in 1945, during the later stages of <a title="World War II" href="http://en.wikipedia.org/wiki/World_War_II">World War II</a>. Now under the auspices of the National Environment Ministry, the public can enjoy Hanami in style.

[spacer height="10px"]
<ul>
 	<li>FEE: ¥200</li>
 	<li>TIME: 9 am to 4:30 pm everyday mid-March ~ mid-April.</li>
 	<li>ACCESS: The gardens are a short walk from <a class="zem_slink" title="Shinjuku-gyoemmae Station" href="http://maps.google.com/maps?ll=35.688577,139.710764&amp;spn=0.01,0.01&amp;q=35.688577,139.710764 (Shinjuku-gyoemmae%20Station)&amp;t=h" target="_blank" rel="geolocation noopener noreferrer">Shinjuku-gyoemmae Station</a> on the Marunouchi Line or <a class="zem_slink" title="Sendagaya Station" href="http://maps.google.com/maps?ll=35.6811111111,139.711388889&amp;spn=0.01,0.01&amp;q=35.6811111111,139.711388889 (Sendagaya%20Station)&amp;t=h" target="_blank" rel="geolocation noopener noreferrer">Sendagaya Station</a> on the JR Chūō-Sōbu Line. It is also just a short 5-minute walk from <a class="zem_slink" title="Shinjuku-sanchōme Station" href="http://maps.google.com/maps?ll=35.6906138889,139.706266667&amp;spn=0.01,0.01&amp;q=35.6906138889,139.706266667 (Shinjuku-sanch%C5%8Dme%20Station)&amp;t=h" target="_blank" rel="geolocation noopener noreferrer">Shinjuku-sanchōme station</a>, where the Fukutoshin and Shinjuku subway lines intersect.</li>
 	<li><a href="https://maps.google.co.jp/maps/place?ftid=0x60188cc312caef15:0xb932d26d90fe4b70&amp;q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E6%96%B0%E5%AE%BF%E5%8C%BA%E5%86%85%E8%97%A4%E7%94%BA11%4035.68530678,139.7097817&amp;cd=1&amp;cad=src:ppiwlink&amp;ei=_N9AUfyvKMnsmAW6mYBA&amp;sig2=FdlQS7RhOTXrRGsVUwUWkw" target="_blank" rel="noopener noreferrer">Map Link</a></li>
</ul>
<h3><strong>Sumida Park</strong></h3>
<img class="alignleft wp-image-23038 size-thumbnail" style="margin: 6px 10px;" src="http://japaninfoswap.com/wp-content/uploads/2013/03/Sumida_Park_Tokyo-150x150.jpg" alt="Sumida_Park_Tokyo" width="150" height="150" />This one is located just across the Sumida River from <a class="zem_slink" title="Asakusa" href="http://maps.google.com/maps?ll=35.71472,139.79673&amp;spn=1.0,1.0&amp;q=35.71472,139.79673 (Asakusa)&amp;t=h" target="_blank" rel="geolocation noopener noreferrer">Asakusa</a>, home of Sensōji Temple, and about 15 minutes from the new <a class="zem_slink" title="Tokyo Skytree" href="http://maps.google.com/maps?ll=35.7101388889,139.810833333&amp;spn=0.01,0.01&amp;q=35.7101388889,139.810833333 (Tokyo%20Skytree)&amp;t=h" target="_blank" rel="geolocation noopener noreferrer">Tokyo Sky Tree</a>. It's a great place to begin or end a tour of the attractions in that area during springtime.  You can find more information on the Sumida Area, including maps, at the "<a href="http://visit-sumida.jp/tabid/129/Default.aspx?language=en-US">Visit Sumida Tourism Office</a>" website (English!).

[spacer height="10px"]
<ul>
 	<li>FEE: Free</li>
 	<li>TIME: 7 am to sunset everyday mid-March ~ mid-April.</li>
 	<li>ACCESS: Ginza, Asakusa, or Tobu Skytree lines to Asakusa station. 10 minute walk to the park.</li>
 	<li><a href="https://maps.google.co.jp/maps?q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%A2%A8%E7%94%B0%E5%8C%BA%E5%90%91%E5%B3%B61%E4%B8%81%E7%9B%AE%E3%80%812%E4%B8%81%E7%9B%AE%E3%80%815%E4%B8%81%E7%9B%AE%4035.71214239,139.8034977&amp;ie=UTF8&amp;hl=en&amp;view=map" target="_blank" rel="noopener noreferrer">Map Link</a></li>
</ul>
<h3><strong>Meguro Cherry Tree RiverWalk</strong></h3>
<img class="alignleft wp-image-23040 size-thumbnail" style="margin: 6px 10px;" src="http://japaninfoswap.com/wp-content/uploads/2013/03/meguro_river_sakura_tokyo-150x150.jpg" alt="meguro_river_sakura_tokyo" width="150" height="150" />My personal favorite, the Meguro River cherry blossoms, never fail to impress. About 800 cherry trees line the river for almost 4kms between Gotanda and Shibuya. There are many fancy shops and hidden eateries around to enjoy in between gazing at pink trees, so take plenty of time and bring your walking shoes.

[spacer height="10px"]
<ul>
 	<li>FEE: Free</li>
 	<li>TIME: 24hrs (public road) everyday mid-March ~ mid-April.</li>
 	<li>ACCESS: <a class="zem_slink" title="Naka-Meguro Station" href="http://maps.google.com/maps?ll=35.6443063,139.6991873&amp;spn=0.01,0.01&amp;q=35.6443063,139.6991873 (Naka-Meguro%20Station)&amp;t=h" target="_blank" rel="geolocation noopener noreferrer">Naka-Meguro station</a> on Tokyu Toyoko and Hibiya lines. Meguro station on the JR Yamanote, Tokyu Meguro, Namboku, and Mita lines; <a class="zem_slink" title="Gotanda Station" href="http://maps.google.com/maps?ll=35.62645,139.7234&amp;spn=0.01,0.01&amp;q=35.62645,139.7234 (Gotanda%20Station)&amp;t=h" target="_blank" rel="geolocation noopener noreferrer">Gotanda station</a> on the JR Yamanote, Tokyu Ikegami, and Asakusa lines.</li>
 	<li><a href="https://maps.google.co.jp/maps?q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E7%9B%AE%E9%BB%92%E5%8C%BA%E5%A4%A7%E6%A9%8B%EF%BD%9E%E4%B8%8B%E7%9B%AE%E9%BB%92%EF%BC%88%E7%9B%AE%E9%BB%92%E5%B7%9D%E6%B2%BF%E9%81%93%EF%BC%89%4035.633844699877,139.710737995337&amp;ie=UTF8&amp;hl=en&amp;view=map" target="_blank" rel="noopener noreferrer">Map Link</a></li>
</ul>
<h3><strong>Ueno Park</strong></h3>
<img class="alignleft wp-image-23043 size-thumbnail" style="margin: 6px 10px;" src="http://japaninfoswap.com/wp-content/uploads/2013/03/Ueno-Park-Tokyo-sakura-150x150.jpg" alt="Ueno-Park-Tokyo-sakura" width="150" height="150" />If you want to experience Hanami the Tokyo way (read: crowds everywhere), then your best bet is to head to Ueno. It goes without saying that you should get there early, but my recommendation is to go later in the afternoon towards sunset if the forecast is warm. This is because Ueno park has a great "yozakura 夜桜" or night-cherry-blossom-viewing display that's really nice!

[spacer height="10px"]
<ul>
 	<li>FEE: Free</li>
 	<li>TIME: 8 am to 8 pm everyday 3/23 ~ 4/7.</li>
 	<li>ACCESS: Ginza, Hibiya, Keisei, or JR lines to Ueno station. 2-minute walk to the park.</li>
 	<li><a href="http://maps.google.com/maps?ll=35.7122222222,139.771111111&amp;spn=0.01,0.01&amp;q=35.7122222222,139.771111111%20(Ueno%20Park)&amp;t=h" target="_blank" rel="noopener noreferrer">Map Link</a></li>
</ul>
<h3><strong>Chidori-ga-Buchi Green Road</strong></h3>
<img class="alignleft wp-image-23044 size-thumbnail" style="margin: 6px 10px;" src="http://japaninfoswap.com/wp-content/uploads/2013/03/Chidorigafuchi_sakura_tokyo-150x150.jpg" alt="Chidorigafuchi_sakura_tokyo" width="150" height="150" />This one is a bit of a surprise but no doubt gorgeous as it lies just across the outer lake surrounding the <a class="zem_slink" title="Tokyo Imperial Palace" href="http://maps.google.com/maps?ll=35.6847527778,139.752458333&amp;spn=0.01,0.01&amp;q=35.6847527778,139.752458333 (Tokyo%20Imperial%20Palace)&amp;t=h" target="_blank" rel="geolocation noopener noreferrer">Imperial Palace Grounds</a> and the Japan Budokan. It earned 2012's top spot for hanami due to its central location; people were able to relax under the blossoms after a hard day at work! If you work nearby, perhaps you should check it out too.

[spacer height="10px"]
<ul>
 	<li>FEE: Free</li>
 	<li>TIME: 8 am to sunset everyday late-March ~ early-April.</li>
 	<li>ACCESS: Hanzomon, Tozai, and Shinjuku subway lines to <a href="https://maps.google.co.jp/maps/place?ftid=0x60188c6b30df9347:0x48025a2e629cf84a&amp;q=type:transit_station:%22Kudanshita+Station%22&amp;t=m&amp;cad=src:ppiwlink&amp;ei=cN9AUbzOFO7UmAW6z4HwCQ" target="_blank" rel="noopener noreferrer">Kudanshita station</a>. 10-minute walk to the park.</li>
 	<li><a href="https://maps.google.co.jp/maps?q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E5%8D%83%E4%BB%A3%E7%94%B0%E5%8C%BA%E4%B9%9D%E6%AE%B5%E5%8D%972%E4%B8%81%E7%9B%AE%EF%BD%9E%E4%B8%89%E7%95%AA%E7%94%BA%E5%85%88%4035.69225423,139.7475838&amp;ie=UTF8&amp;hl=en&amp;view=map" target="_blank" rel="noopener noreferrer">Map Link</a></li>
</ul>
<h3><strong>Inokashira Park</strong></h3>
<img class="alignleft wp-image-34810 size-thumbnail" style="margin: 6px 10px;" src="http://japaninfoswap.com/wp-content/uploads/2017/02/Inokashira-Park-hanami-2016-JLGatewood-150x150.jpg" alt="" width="150" height="150" />Venturing outside the 23 Wards and into the west Tokyo 'burbs on the JR Chuo or Keio Inokashira to Kichijoji Station already affords you entry into one of the area's coolest neighborhoods for shopping, dining, and people-watching; Kichijoji. But in the beginning of spring, Inokashira Park on the area's southern end turns into an explosion of pinks and white, as the majority of the trees around the main lake are of the Japanese Cherry variety. With the lake's banks sporting 250 of the trees in bloom, why not rent one of the paddle boats and catch the view from the middle of the lake?
<ul>
 	<li>FEE: Free</li>
 	<li>TIME: 24 hours everyday late-March ~ early-April.</li>
 	<li>ACCESS: JR Chuo Local/Rapid and Keio Inokashira lines to <a href="https://www.google.com/maps/place/Kichijoji+Station/@35.700863,139.574389,16z/data=!4m13!1m7!3m6!1s0x0:0x0!2zMzXCsDQyJzAzLjEiTiAxMznCsDM0JzI3LjgiRQ!3b1!8m2!3d35.700863!4d139.574389!3m4!1s0x6018ee47f6226cc3:0x34e6b69989d52a4e!8m2!3d35.7031495!4d139.5798089?hl=en-US" target="_blank" rel="noopener noreferrer">Kichijoji station</a>. Follow signs to South/Park exit, a 10-minute walk to the park.</li>
 	<li><a href="https://maps.google.com/maps?ll=35.700863,139.574389&amp;z=16&amp;t=m&amp;hl=en-US&amp;gl=US&amp;mapclient=embed&amp;q=35%C2%B042%2703.1%22N%20139%C2%B034%2727.8%22E@35.700863,139.574389" target="_blank" rel="noopener noreferrer">Map Link</a></li>
</ul>
<h3><strong>More Information and Resources</strong></h3>
<p style="padding-left: 30px;"><a href="http://www.japan-guide.com/sakura/" target="_blank" rel="noopener noreferrer">Cherry Blossom Forecast - Japan Guide</a>
<a href="http://www.jnto.go.jp/sakura/eng/index.php" target="_blank" rel="noopener noreferrer">The Bloom of Cherry Blossoms (JNTO) </a>
<a href="http://sakura.weathermap.jp/area.php?city=tokyo" target="_blank" rel="noopener noreferrer">www.sakura.weathermap.jp</a>
<a href="http://hanami.walkerplus.com" target="_blank" rel="noopener noreferrer">Hanami Walker</a></p>
<p style="text-align: right;">– By <a href="http://jlgatewood.com">Jason L. Gatewood</a></p>
[spacer height="20px"]

Photo:Toyohara Chikanobu [Public domain], <a href="https://commons.wikimedia.org/wiki/File%3AChiyoda_Ooku_Hanami.jpg">via Wikimedia Commons</a>
Photo:Creative Commons "<a href="http://en.wikipedia.org/wiki/File:2007_Sakura_of_Fukushima-e_007_rotated.jpg">2007 Sakura of Fukushima</a>" by <a title="User:Kropsoq" href="http://commons.wikimedia.org/wiki/User:Kropsoq">Kropsoq</a> <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">(CC BY-SA 3.0)</a> -Modified
Photo:Creative Commons "<a href="http://en.wikipedia.org/wiki/File:Shinjuku_Gyoen_National_Garden_-_sakura_2.JPG">Shinjuku Gyoen National Garden Sakura</a>" by <a title="User:Kakidai" href="http://commons.wikimedia.org/wiki/User:Kakidai">Kakidai</a> <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">(CC BY-SA 3.0)</a> -Modified
Photo:Creative Commons "<a href="http://commons.wikimedia.org/wiki/File:Sumida_Park_2011.JPG">Sumida Park in Tokyo</a>" by <a title="User:Arashiyama (page does not exist)" href="http://commons.wikimedia.org/w/index.php?title=User:Arashiyama&amp;action=edit&amp;redlink=1">Arashiyama</a> <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">(CC BY-SA 3.0)</a> -Modified
Photo:Creative Commons "<a href="http://commons.wikimedia.org/wiki/File:Meguro_gawa_sakura.jpg">Meguro gawa sakura.jpg</a>" -Modified
Photo:Creative Commons "<a href="http://commons.wikimedia.org/wiki/File:Ueno-Park.JPG?uselang=en-gb">Ueno Park</a>" -Modified
Photo:Creative Commons "<a
href="http://en.wikipedia.org/wiki/File:Chidorigafuchi_in_2011_(1).jpg">Chidorigafuchi_in_2011</a>"
by <a title="User:Arashiyama (page does not exist)"
href="http://commons.wikimedia.org/w/index.php?title=User:Arashiyama&amp;action=edit&amp;redlink=1">Arashiyama</a> <a
href="http://creativecommons.org/licenses/by-sa/3.0/deed.en">(CC BY-SA
3.0)</a> -Modified Photo: "Lake Inokashira Hanami 2016" by <a
href="http://jlgatewood.com">Jason L Gatewood</a> (own work)

Updated by <a href="http://jlgatewood.com">Jason L Gatewood</a> with <a href="http://spacemacs.org">SpaceMacs</a> 
